<td><%= name %></td>
<td><%= title %></td>
<td><%= background_color %></td>
<td><%= padding %></td>
<td><%= margin %></td>
<td><%= font %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>