<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Background color:</b>
  <%= background_color %>
</p>

<p>
  <b>Padding:</b>
  <%= padding %>
</p>

<p>
  <b>Margin:</b>
  <%= margin %>
</p>

<p>
  <b>Font:</b>
  <%= font %>
</p>


<a href="#/index">Back</a>